{% extends "base.html" %}

{% block content %}

<form method = "POST">

    {{ form.hidden_tag()}}

    {{form.email.label}}{{form.email}}<br>
    {{form.username.label}}{{form.username}}<br>
    {{form.password.label}}{{form.password}}
    {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
    {{form.pass_conf.label}}{{form.pass_conf}}
    {% for error in form.pass_conf.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
    {{form.submit()}}


</form>




{% endblock %}